/* Styles - index.html */

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.45;
}

/* Banner styles */

.maintxt {
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.00)0%, rgba(0,0,0,0.5)65%), url(./assets/main-banner.png);
    background-size: cover;
    background-position: center;
    height:500px;
}

.subtext{
    color: #fff;
    width: 60%;
    padding-top: 10%;
    padding-left: 5%;
    text-align: left;
}

.banner-heading {
    font-weight: 700;
    font-size: 45px;
}

.banner-subheading {
    font-weight: 500;
    font-size: 24px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Buttons & Links */

.link {
    font-family: Quicksand;
    font-weight: 700;
    color: #DE6C17;
    font-size: 18px;
    cursor: pointer;
}

.btn-style {
    background-color: #DE6C17;
    border-radius: 4px;
    border: none;
    color: #fff;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.heading-one {
    font-weight: 700;
    font-size: 45px;
    color: #36413C;
}

.heading-two {
    font-weight: 700;
    font-size: 28px;
    color: #36413C;
}

.heading-three {
    font-weight: 500;
    font-size: 24px;
    color: #5E6E66;
}

.card-text {
    font-weight: 500;
    font-size: 18px;
    color: #5E6E66;
    min-height: 130px;
}

/* Media Queries */

@media (max-width:768px) {
    .banner-heading {
        font-size: 30px;
    }

    .banner-subheading {
        font-size: 20px;
    }

    .heading-one {
        font-size: 30px;
    }

    .heading-two {
        font-size: 24px;
    }

    .heading-three {
        font-size: 20px;
    }

    .card-text {
        font-size: 16px;
        min-height: 160px;
    }

    .subtext {
        padding-top: 20%;
        padding-left: 10%;
        width: 90%;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
